* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: avenir, sans-serif;
  margin: 20px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background: #1C2833;
}

.sidebar {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  margin: 0 0 20px 0;
}

.map {
  border-left: 1px solid #fff;
  height: 550px;
  width: 90%;
  margin: 0 auto;
  outline: 10px solid white;
  border: 1px solid dimgray;
}

h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  max-width: 1000px;
  color: #eee;
  margin: auto;
}

.listings {
  height: 100%;
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: auto;
}


.award {
  font-style: italic;
}

.search {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  padding: 5px 10px;
  margin: 0 0 10px 0;
  background: white;
  transition: .2s ease-in;
}

.search:focus {
  border: 3px solid #78C1B8;
  outline: none;
}

.listings .item {
  display: inline-block;
  text-decoration: none;
  background: #eee;
  margin-bottom:10px;
  padding: 20px;
  margin-right: 10px;
  white-space: pre-line;
  vertical-align: top;
  height: 200px;
}

.listings .item .title {
  display: block;
  color: #C1272D;
  font-weight: 700;
}

.sidebar-title {
  margin: 0 0 10px 0;
}

.github-link {
  color: #fff;
  font-weight: bold;
}

.github-link:hover {
  color: #FFAD0D;
}

.mapboxgl-popup {
  width: 200px;
}

.mapboxgl-popup-close-button {
  font-size: 20px;
}

.mapboxgl-popup-content {
  border-left: 10px solid #C1272D;
}

::-webkit-scrollbar {
  width: 10px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #C1272D;
  border-radius: 0;
}

@media only screen and (min-width: 769px) {
  .sidebar {
    width: 30%;
    padding: 10px;
    height: 550px;
    top: 170px;
    left: 0;
    overflow: hidden;
    position:absolute;
      }
  #map {
  position: absolute;
  width: 67%;
  left: 32%;
  vertical-align: top;
  top: 170px;
  bottom:0;
  }
  #listings {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: normal;
  }
   .listings .item {
    display: block;
    text-decoration: none;
    background: #eee;
    margin-bottom:10px;
    padding: 20px;
  } 
  .mapboxgl-popup {
    width: auto;
  }
}

